[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2-binary = "*"
django = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise  = "*"
Pillow  = "*"

[dev-packages]

[requires]
python_version = "3.13"
