{% extends 'base.html' %} {% block content %}

<div class="create-container">
  <h2>Create Container</h2>

  <form method="POST">
    {% csrf_token %}
      {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Container</h1>
  {% endif %}
  <form action="{% url 'container_create' %}" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>
</div>



{% endblock %}
