{% extends 'base.html' %}
{% block content %}

<h1>transport Details</h1>
<h5>transport name:{{transport.name}}</h5>
<h5>transport Description: {{transport.description}}</h5>
<h5>source: {{transport.source}}</h5>
<h5>destination: {{transport.destination}}</h5>

  {% load static %}
  <div class="transports-conainter">
    <img
      class="transports-pic"
      src="{% static transport.image|cut:'main_app/static/' %}"
      alt="transports Image"
    />
    <div class="card-action">
      <a href="{% url 'transports_update' transport.id %}">Edit</a>
      <a href="{% url 'transports_delete' transport.id %}">Delete</a>
    </div>
  </div>




{% endblock %}

